@media (max-width: 320px) {
	header {
		height: 120px;
	}
	header~div {
		margin-top: 120px;
	}
	.nav {
		height: 60px;
	}
	.subnav {
		height: 60px;
	}
	.bar img {
		height: 50px;
	}
	.bar-active img {
		height: 50px;
	}
}

@media (min-width: 321px) and (max-width: 768px) {
	header {
		height: 130px;
	}
	header~div {
		margin-top: 130px;
	}
	.nav {
		height: 60px;
	}
	.subnav {
		height: 70px;
	}
	.bar img {
		height: 60px;
	}
	.bar-active img {
		height: 60px;
	}
}

@media (min-width: 769px) {
	header {
		height: 150px;
	}
	header~div {
		margin-top: 150px;
	}
	.nav {
		height: 60px;
	}
	.subnav {
		height: 90px;
	}
	.bar img {
		height: 80px;
	}
	.bar-active img {
		height: 80px;
	}
}

@media (min-width: 1224px) {

}

@media (min-width: 1824px) {

}
