.bar-active{
	background-image: url(../img/bg_fresh_suvnav_active.png);
	background-repeat: repeat-x;
}

.content-top-nav {
	padding: 5px;
	background-color: #ccffcc;
}

.content-subnav {
	height: 40px;
	margin-top: -30px;
	padding-left: 30px;
	background-color: #ccffcc;
}

.media-list{
}

.media-list ul li{
	list-style: none;
}
.intro-text{
	background-color: #CCFFCC;
}

@media (max-width: 320px) {
	.media img{
		width: 64px;
	}
	.content-nav a img {
		width: 70px;
		height: 70px;
	}
}

@media (min-width: 321px) and (max-width: 480px) {
	.media img{
		width: 72px;
	}
	.content-nav a img {
		width: 70px;
		height: 70px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.media img{
		width: 96px;
	}
	.content-nav a img {
		width: 80px;
		height: 80px;
	}
}

@media (min-width: 769px) {
	.media img{
		width: 128px;
	}
	.content-nav a img {
		width: 96px;
		height: 96px;
	}
}
@media (min-width: 1224px) {
	.content-nav a img {
		width: 119px;
		height: 119px;
	}
}
@media (min-width: 1824px) {
}
